body {
    background-color: lightblue; 
}

.centered {
    margin-left: auto;  /* Auto left margin */
    margin-right: auto; /* Auto right margin */
    text-align: center;
    padding: 20px;
}

button {
    margin-top: 10px;
    width: 150px;
    height: 50px;
}

h1 {
    padding: 100px;
}

h2 {
    font-size: 60px;
    padding: 20px;
    color: white;
}

h3 {
    font-size: 50px;
    padding: 20px;
    color: navy;
}